@model List<Lab.Demo.EF.Entities.Categories>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (Session["message"] != null)
{
    <div class=@Session["messageClass"].ToString()>
        @Session["message"]
    </div>
}

<div>@Html.ActionLink("Insertar", "Accion", new { id = 0 })</div>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Acciones</th>
    </tr>

    @foreach (var category in Model)
    {
        <tr>
            <td>@category.CategoryID</td>
            <td>@category.CategoryName</td>
            <td>@category.Description</td>
            <td>
                @Html.ActionLink("Actualizar", "Accion", new { id = category.CategoryID })
                @Html.ActionLink("Eliminar", "Delete", new { id = category.CategoryID },
                                                       new { onclick = $"return confirm('¿Está seguro que desea eliminar la categoría {category.CategoryID}?');" })
            </td>
        </tr>
    }
</table>