@model List<Lab.Demo.EF.Entities.Territories>
@{
    ViewBag.Title = "Listado de Territorios";
}

<h2>@ViewBag.Title</h2>

@Html.ActionLink("Insertar", "Accion", new { id = "" })
<table class="table">
    <tr>
        <th>Id</th>
        <th>Descripción</th>
        <th>Región</th>
        <th>Acción</th>
    </tr>

    @foreach(var territory in Model)
    {
        <tr>
            <td>@territory.TerritoryID</td>
            <td>@territory.TerritoryDescription</td>
            <td>@territory.Region.RegionDescription</td>
            <td>
                @Html.ActionLink("Actualizar", "Accion", new { id = territory.TerritoryID })
                @Html.ActionLink("Eliminar", "Delete", new { id = territory.TerritoryID },
                                                       new { onclick=$"return confirm('¿Está seguro de que desea eliminar el territorio {territory.TerritoryID}?')"})
            </td>
        </tr>
    }
</table>

